Repository dinhdjj/multitenancy-game-store-deprecated: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

.lintstagedrc.json:

{
    "resources/**": ["prettier --write", "eslint --fix"],
    "*.php": "./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php"
}

Php-cs-fixer Fixed!
  app/Actions/Fortify/CreateNewUser.php
  app/Actions/Fortify/PasswordValidationRules.php
  app/Actions/Fortify/ResetUserPassword.php
  app/Actions/Fortify/UpdateUserPassword.php
  app/Actions/Fortify/UpdateUserProfileInformation.php
  app/Actions/Jetstream/DeleteUser.php
  app/Models/User.php
  app/Providers/FortifyServiceProvider.php
  app/Providers/JetstreamServiceProvider.php
  app/View/Components/AppLayout.php
  app/View/Components/GuestLayout.php
  config/fortify.php
  config/jetstream.php
  config/sanctum.php
  database/factories/UserFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2014_10_12_200000_add_two_factor_columns_to_users_table.php
  database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
  database/migrations/2022_07_04_020139_create_sessions_table.php
  routes/web.php
  tests/Feature/ApiTokenPermissionsTest.php
  tests/Feature/AuthenticationTest.php
  tests/Feature/CreateApiTokenTest.php
  tests/Feature/DeleteAccountTest.php
  tests/Feature/DeleteApiTokenTest.php
  tests/Feature/EmailVerificationTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/PasswordResetTest.php
  tests/Feature/ProfileInformationTest.php
  tests/Feature/RegistrationTest.php
  tests/Feature/TwoFactorAuthenticationSettingsTest.php
  tests/Feature/UpdatePasswordTest.php
  tests/Pest.php
  tests/Unit/ExampleTest.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Prettier Fixed!
  resources/views/api/api-token-manager.blade.php
  resources/views/api/index.blade.php
  resources/views/auth/confirm-password.blade.php
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/auth/reset-password.blade.php
  resources/views/auth/two-factor-challenge.blade.php
  resources/views/auth/verify-email.blade.php
  resources/views/dashboard.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/policy.blade.php
  resources/views/profile/delete-user-form.blade.php
  resources/views/profile/logout-other-browser-sessions-form.blade.php
  resources/views/profile/show.blade.php
  resources/views/profile/two-factor-authentication-form.blade.php
  resources/views/profile/update-password-form.blade.php
  resources/views/profile/update-profile-information-form.blade.php
  resources/views/terms.blade.php
  resources/views/welcome.blade.php
Due: prettier --write, eslint --fix, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: fix phpstan
  .husky/commit-msg
  .husky/pre-commit
  app/Models/User.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: publish jetstream views
  resources/views/vendor/jetstream/components/action-message.blade.php
  resources/views/vendor/jetstream/components/action-section.blade.php
  resources/views/vendor/jetstream/components/application-logo.blade.php
  resources/views/vendor/jetstream/components/application-mark.blade.php
  resources/views/vendor/jetstream/components/authentication-card-logo.blade.php
  resources/views/vendor/jetstream/components/authentication-card.blade.php
  resources/views/vendor/jetstream/components/banner.blade.php
  resources/views/vendor/jetstream/components/button.blade.php
  resources/views/vendor/jetstream/components/checkbox.blade.php
  resources/views/vendor/jetstream/components/confirmation-modal.blade.php
  resources/views/vendor/jetstream/components/confirms-password.blade.php
  resources/views/vendor/jetstream/components/danger-button.blade.php
  resources/views/vendor/jetstream/components/dialog-modal.blade.php
  resources/views/vendor/jetstream/components/dropdown-link.blade.php
  resources/views/vendor/jetstream/components/dropdown.blade.php
  resources/views/vendor/jetstream/components/form-section.blade.php
  resources/views/vendor/jetstream/components/input-error.blade.php
  resources/views/vendor/jetstream/components/input.blade.php
  resources/views/vendor/jetstream/components/label.blade.php
  resources/views/vendor/jetstream/components/modal.blade.php
  resources/views/vendor/jetstream/components/nav-link.blade.php
  resources/views/vendor/jetstream/components/responsive-nav-link.blade.php
  resources/views/vendor/jetstream/components/secondary-button.blade.php
  resources/views/vendor/jetstream/components/section-border.blade.php
  resources/views/vendor/jetstream/components/section-title.blade.php
  resources/views/vendor/jetstream/components/switchable-team.blade.php
  resources/views/vendor/jetstream/components/validation-errors.blade.php
  resources/views/vendor/jetstream/components/welcome.blade.php
  resources/views/vendor/jetstream/mail/team-invitation.blade.php
Due: prettier --write, eslint --fix, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Prettier Fixed!
  resources/views/vendor/jetstream/components/action-message.blade.php
  resources/views/vendor/jetstream/components/banner.blade.php
Due: prettier --write, eslint --fix, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: use mysql databse
  .env.example
  config/database.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build(deps,deps-dev): use laravel octane
  .env.example
  DEPLOYMENT.md
  composer.json
  composer.lock
  config/octane.php
  package-lock.json
  package.json
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: use taggable caches
  .env.example
  config/cache.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: use local driver only for filesystem
  config/filesystems.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: use redis for queue
  .env.example
  DEPLOYMENT.md
  config/queue.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: clear unnecessary env variables
  .env.example
Due: none

build(deps,deps-dev): use laravel actions
  .gitignore
  composer.json
  composer.lock
Due: none

revert: "build(deps,deps-dev): use laravel octane"
  .env.example
  DEPLOYMENT.md
  composer.json
  composer.lock
  config/octane.php
  package-lock.json
  package.json
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: remove unsuported store cache
  config/cache.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build(deps,deps-dev): select stacks (#3)
  .env.example
  .gitignore
  DEPLOYMENT.md
  composer.json
  composer.lock
  config/cache.php
  config/database.php
  config/filesystems.php
  config/queue.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build(deps): install stancl/tenancy follow tutorial
  app/Models/Tenant.php
  app/Providers/RouteServiceProvider.php
  app/Providers/TenancyServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  config/tenancy.php
  database/migrations/2019_09_15_000010_create_tenants_table.php
  database/migrations/2019_09_15_000020_create_domains_table.php
  database/migrations/tenant/2022_07_04_020139_create_sessions_table.php
  routes/tenant.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: make tenant, domain factories
  app/Models/Domain.php
  app/Models/Tenant.php
  config/tenancy.php
  database/factories/DomainFactory.php
  database/factories/TenantFactory.php
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: config tenant, universal routes
  app/Http/Kernel.php
  app/Providers/RouteServiceProvider.php
  app/Providers/TenancyServiceProvider.php
  config/tenancy.php
  routes/tenant.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: fix migrate command issues
  app/Providers/TenancyServiceProvider.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: config databse
  .env.example
  config/database.php
  config/tenancy.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: environmentalization
  .env.example
  config/tenancy.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: config queue connections
  .env.example
  config/queue.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

build: config and fix filesystem problems
  app/Actions/TenantCreateFrameworkDirectories.php
  app/Actions/TenantDeleteRelatedDirectories.php
  app/Providers/TenancyServiceProvider.php
  app/Tenancy/Bootstrappers/Filesystem.php
  config/tenancy.php
  storage/.gitignore
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore(testing): testable for tenant application
  .github/workflows/run-tests.yml
  tests/Pest.php
  tests/TenantTesting.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

chore: make jetstream tenancy
  config/fortify.php
  config/jetstream.php
  database/migrations/2019_09_15_000010_create_tenants_table.php
  database/migrations/2019_09_15_000020_create_domains_table.php
  database/migrations/tenant/2014_10_12_000000_create_users_table.php
  database/migrations/tenant/2014_10_12_100000_create_password_resets_table.php
  database/migrations/tenant/2014_10_12_200000_add_two_factor_columns_to_users_table.php
  database/migrations/tenant/2019_12_14_000001_create_personal_access_tokens_table.php
Due: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

Eslint Fixed!
  package-lock.json
Due: none

ci(github): migrate databse before run tests
  .github/workflows/run-tests.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none
